.footerr{
  background-color: lightblue;
}
*{
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #fff;
  background-color:#4ddbff;
  font-family: 'Oxygen', sans-serif;
}
.navbar{
  padding: 0px;
}
.navbrand{
  background-color:#006666;
}
.navbar-toggler{
  border: 1px solid #4ddbff;
}


body h2{
  color:#000000;
  text-align: center;
}
#back {
  position: fixed;
  bottom: 5px;
  right: 5px; 
  font-size: 1.75em;
  }

h4{
  clear: both;
  color: #006666;
  text-align: center;
  }

  /*** jumbotron picture styling  **/

  



  /*** End of jumbotron picture styling  **/

  /** sevises tiles syling**/
  .servi .col{
    background-color: grey;
    border: 2px solid #3F0C1F;
  }
  .col h6{
    text-align: center;
    background-color:#3F0C1F ;
  }
  .col ul{
    list-style-type: none;
  }
  /** End of sevises tiles syling**/

@media(min-width:992px){
  .col-lg-3
  }
@media(min-width:768px and max-width:991px){

  }
@media(min-width:576px and max-width:767px){

  }
@media(max-width:575px){

  .jumbotron img {
    height: 300px;
  }

  }


