.footerr{
  background-color: lightblue;
}
*{
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #fff;
  background-color:#87CEEB;
  font-family: 'Oxygen', sans-serif;
}
.navbar{
  padding: 0px;
}
.navbrand{
  background-color:#006666;
}
.navbar-toggler{
  border: 1px solid #4ddbff;
}


body h2{
  color:#000000;
  text-align: center;
}
#back {
  position: fixed;
  bottom: 5px;
  right: 5px; 
  font-size: 1.75em;
  }

h4{
  clear: both;
  color: #006666;
  text-align: center;
  }



  /*** jumbotron picture styling  **/

  



  /*** End of jumbotron picture styling  **/

  /** sevises tiles syling **/

  .servi .col{
    background-color: #DCDCDC;
    border: 10px solid #87CEEB;
    border-radius: 20px;
    margin: ;
  }
  .col h6{
    text-align: center;
    font-size: 1.1em;
        color: #FF1493;
        text-align: center;
        background-color: #FFFFFF;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        text-align: center;
        font-weight: bold; 
  }
  .col ul{
    list-style-type: none;
  }
  .col li{
  font:1.2em;
  color:  #000;
}



  /** End of sevises tiles syling**/

  /**Icons syling**/



  
  /**End of Icons syling**/



  /***Contact styling**/
  .contact .col{

  background-color:#2e2e2e;
  margin-top: 10px; 
  }


  /*** End of Contact styling**/

@media(min-width:992px){
  .col-lg-3
  }
@media(min-width:768px and max-width:991px){

  }
@media(min-width:576px and max-width:767px){

  }
@media(max-width:575px){

  .jumbotron img {
    height: 300px;
  }

  }


